<!DOCTYPE html>
<html lang="en,pt-br" ng-app="NgApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Fabio Willian">

	<link rel="icon" href="images/favicon.ico">

	<title>Este é um projeto inicial MEAN</title>

	<!-- Arquivo de estilos (CSS) do projeto -->
	<link href="stylesheets/style.css" rel="stylesheet">

</head>
<body>

	<h3>Ooops, algum erro ocorreu!</h3>


	<script src="javascripts/angular.min.js"></script>
	<script src="javascripts/app.js"></script>

</body>
</html>
